[submodule "skills/engineering-everything"]
	path = skills/engineering-everything
	url = https://github.com/HaodiFan/engineering-everything.git
[submodule "memory/af-wiki"]
	path = memory/af-wiki
	url = https://github.com/HaodiFan/AF-wiki.git
